h1{
  background-color: red;
}
.strong{
  front-weight: bold;
}
sub{
vertical-align: sub;
font-size: large;
font-style: bold;
color: red;
}
details > summary {
  padding: 4px;
  width: 200px;
  background-color: #eeeeee;
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}
details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
thead {color: green;}
tbody {color: blue;}
tfoot {color: red;}

table, th, td {
  border: 1px solid black;
}
.header{ 
	height:100px; background-color: red
}
.container{ 
	overflow : hidden;
}
.blog{ 
	height:150px;
	 background-color: yellow;
	  width:30%; 
	  float: left;
}
.contact{
	height:150px; 
	background-color: green; 
	width: 65%; 
	float: right;
}
.wrapper {
	overflow : hidden
}
.single{
	height:100px; 
	width:30%; 
	float: left;
}
.red{
	background-color:red;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
 .footer{
 	height:100px; 
 	background-color:Teal;
 }